*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.contaienr{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fafafa;
}

/* main */

main{
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 153px);
}

/* footer */
footer{
    min-height: 5em;

    background-color: rgba(128, 128, 128, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.git, .linkedin, .email{
    width: 40px;
    height: 40px;
    margin-right: .1em;
}

footer div{
    margin-top: .5em;
}

.personalLinks{
    color: white;
    font-weight: bold;

    text-decoration: none;
}

/* main content */

#img-nft{
    width: 20%;
    height: 20%;
}

#img-time-track{
    width: 20%;
    height: 20%;
}

#img-commerce{
    width: 50%;
    height: 50%;
}