$primary-1: rgb(42, 207, 207)
$primary-1-hover: rgb(108, 207, 207)
$primary-2: rgb(59, 48, 84)
$secundary: rgb(244, 98, 98)
$neutral-Gray: rgb(191, 191, 191)
$neutral-GrayishV: rgb(158, 154, 167)
$neutral-DarkB: rgb(53, 50, 62)
$neutral-DarkV: rgb(35, 33, 39)
$black: rgb(0, 0, 0)
$white: rgb(255, 255, 255)


*
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: 'Poppins', sans-serif

body
    font-size: 18px

header
    margin: 1.5em 3rem 0 7.5rem
    /* display: flex */
    .menuIcon, .logo-heaer-mobile
        display: none
    .menu-content
        display: flex
        justify-content: space-between
        .first-content
            display: flex
            gap: 2rem
        nav
            display: flex
            align-items: flex-start
            ul
                display: flex
                flex-direction: row
                gap: 1rem
                align-items: center
                list-style: none
                li a
                    text-decoration: none
                    font-weight: bold
                    color: $neutral-GrayishV
                    &:hover
                        color: $primary-2
                .sign-up
                    background-color: $primary-1
                    color: $white
                    padding: 0.5rem 1rem
                    border-radius: 20px
                    &:hover
                        background-color: $primary-1-hover
                        color: $white

.first-content
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 1fr
    padding-bottom: 8rem
    .first-text
        margin-top: 9rem
    h1
        font-size: 4rem
        font-weight: bold
        line-height: 1.2
        text-align: left
        color: $primary-2
        margin: 3.5rem 0 0 7.5rem
    p
        font-size: 1.3rem
        text-align: left
        color: $neutral-GrayishV
        margin: 0 0 0 7.5rem
    button
        margin: 1.5rem 0 0 7.5rem
        background-color: $primary-1
        color: $white
        padding: 0.5rem 1rem
        border-radius: 20px
        border: none
        font-size: 1.1rem
        &:hover
            background-color: $primary-1-hover
            cursor: pointer
    .content-img
        overflow: hidden
        .img-content
            padding-left: 1rem
            padding-top: 4rem

.middle-content
    background-color: $neutral-Gray
    position: relative
    padding-bottom: 7rem
    .div-middle-form
        position: absolute
        top: -4.5rem
        left: 20%
        right: 20%
        display: flex
        flex-direction: column
        gap: 1rem
        .middle-form
            display: flex
            flex-flow: row wrap
            justify-content: center
            background-image: url('./../images/bg-shorten-desktop.svg')
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            background-color: $primary-2
            padding: 2.8rem 3rem 2.8rem 3rem
            border-radius: 8px
            .middle-form-text
                padding: 1rem 2rem 1rem 2rem
                width: 80%
                border-radius: 6px
                border: none
            .middle-form-button
                background-color: $primary-1
                color: $white
                padding: 0.4rem 1rem
                margin-left: 1rem
                border-radius: 6px
                border: none
                font-size: 1.1rem
                &:hover
                    background-color: $primary-1-hover
                    cursor: pointer
            #error-link
                color: red
                display: inline
                padding-top: 0.5rem
                font-size: 0.8rem
                opacity: 0
        .newLinkShorten
            background-color: $white
            padding: 2rem 3rem 2rem 3rem
            border-radius: 5px
            display: flex
            justify-content: space-between
            align-items: center
            .linkShort
                display: flex
                flex-direction: row
                gap: 1rem
                #shorten
                    color: $primary-1
                    font-weight: bold
                button
                    background-color: $primary-1
                    color: $white
                    padding: 0.4rem 1rem
                    border-radius: 6px
                    border: none
                    font-size: 1.1rem
                    &:hover
                        background-color: $primary-2
                        cursor: pointer
    h2
        text-align: center
        padding-top: 10rem
    .p-advanced
        text-align: center
        color: $black
        padding-top: .8rem
        font-size: 1rem
    .middle-info
        margin: 10rem 9rem 0 9rem
        padding-bottom: 5rem
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: 1fr
        gap: 1.5rem
        position: relative
        .line
            display: flex
            width: 100%
            height: 1px
            border: 5px solid $primary-1
            position: absolute
            top: 35%
            z-index: 1
        .article-info
            background-color: $white
            padding: 5rem 1.5rem 2rem 1.5rem
            position: relative
            z-index: 2
            .div-img-info
                background-color: $primary-2
                width: 5rem
                height: 5rem
                border-radius: 50%
                position: absolute
                top: -2.5rem
                left: 5%
                .img-info
                    padding: 1rem 1rem
                .img-one, .img-two
                    padding: 1.2rem 1.15rem
            p
                text-align: left
                color: $neutral-DarkB
                font-size: 1rem
        .article-info-one
            top: -4rem
            left: 0
        .article-info-three
            top: 4rem
            left: 0


.foot-section
    background-color: $primary-2
    background-image: url('./../images/bg-boost-desktop.svg')
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    padding: 2rem 0 2rem 0
    height: 15rem
    h3
        text-align: center
        color: $white
        font-size: 2rem
        margin-top: 2rem
    button
        background-color: $primary-1
        color: $white
        border: none
        border-radius: 20px
        padding: 0.5rem 1rem
        font-size: 1.1rem
        margin: 1.5rem 45% 0 45%
        &:hover
            background-color: $primary-1-hover
            cursor: pointer

footer
    background-color: $neutral-DarkV
    padding: 4rem 0 8rem 7.5rem
    display: flex
    justify-content: space-between
    .div-logo-footer
        display: flex
        align-items: flex-start
        .logo-footer
            padding-right: 3rem
            filter: invert(100%)
    .content-footer-menu
        display: flex
        .footer-menu
            margin: 0 0 0 5rem
            h5
                color: $white
                font-size: 1.1rem
                font-weight: bold
                padding-bottom: 1rem
            ul
                list-style: none
                li
                    padding-bottom: .5rem
                a
                    text-decoration: none
                    color: $neutral-GrayishV
                    font-size: 1rem
                    &:hover
                        color: $primary-1
    .social-icons
        margin: 0 10% 0 5%
        display: flex
        gap: 1.5rem
        img:hover
            cursor: pointer
            filter: brightness(0) saturate(100%) invert(92%) sepia(60%) saturate(5159%) hue-rotate(123deg) brightness(88%) contrast(83%)

.attribution
    background-color: #ffffff
    font-size: 11px
    text-align: center
    a
        color: hsl(228, 45%, 44%)

@media screen and (max-width: 768px)

    header
        margin: 1.5em 0 0 .5rem
        .logo-heaer-mobile
            display: block
        .menuIcon
            display: block
            position: absolute
            top: 1.5rem
            right: 1.5rem
            cursor: pointer
        .menu-content
            display: flex
            flex-direction: column
            background-color: $primary-2
            padding: 2rem 1rem 2rem 1rem
            border-radius: 10px
            position: absolute
            top: 5.5rem
            right: 1.5rem
            left: 1.5rem
            opacity: 0
        .show
            opacity: 1
            .first-content
                display: flex
                justify-content: center
                gap: 0rem
                padding-bottom: 1rem
                border-bottom: 1px solid $neutral-Gray
            .logo-heaer
                display: none
            .second-content
                padding-top: 1rem
            nav
                display: flex
                align-items: flex-start
                justify-content: center
                ul
                    display: flex
                    flex-direction: column
                    gap: 1rem
                    align-items: center
                    list-style: none
                    li a
                        color: $white
                        &:hover
                            color: $primary-1
                    .sign-up
                        padding: 0.5rem 6rem
                        border-radius: 20px

    .first-content
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: auto auto
        .first-text
            margin-top: 0
        h1
            font-size: 3rem
            font-weight: bold
            text-align: center
            margin: 2.5rem 1rem 0 1rem
        p
            font-size: 1.3rem
            text-align: center
            color: $neutral-GrayishV
            margin: 0
        button
            margin: 1.5rem 0 0 7.5rem
            background-color: $primary-1
            color: $white
            padding: 0.5rem 1rem
            border-radius: 20px
            border: none
            font-size: 1.1rem
            &:hover
                background-color: $primary-1-hover
                cursor: pointer
        .content-img
            overflow: hidden
            grid-row: 1/2
            .img-content
                width: 100%
                padding-left: 1rem
                padding-top: 4rem

    .middle-content
        position: relative
        padding-bottom: 7rem
        .div-middle-form
            position: absolute
            top: -4.5rem
            left: 5%
            right: 5%
            display: flex
            flex-direction: column
            gap: 1rem
            .middle-form
                display: flex
                flex-flow: row wrap
                justify-content: center
                gap: 1rem
                background-image: url('./../images/bg-shorten-desktop.svg')
                background-repeat: no-repeat
                background-position: center
                background-size: cover
                padding: 2.8rem 3rem 2.8rem 3rem
                .middle-form-text
                    padding: 1rem 2rem 1rem 2rem
                    width: 80%
                    border-radius: 6px
                    border: none
                .middle-form-button
                    background-color: $primary-1
                    color: $white
                    padding: 0.4rem 5rem
                    margin-left: 1rem
                    border-radius: 6px
                    border: none
                    font-size: 1.1rem
                    &:hover
                        background-color: $primary-1-hover
                        cursor: pointer
                #error-link
                    color: red
                    display: inline
                    padding-top: 0.5rem
                    font-size: 0.8rem
                    opacity: 0
            .newLinkShorten
                background-color: $white
                padding: 2rem 3rem 2rem 3rem
                border-radius: 5px
                display: flex
                justify-content: space-between
                align-items: center
                .linkShort
                    display: flex
                    flex-direction: row
                    gap: 1rem
                    #shorten
                        color: $primary-1
                        font-weight: bold
                    button
                        background-color: $primary-1
                        color: $white
                        padding: 0.4rem 1rem
                        border-radius: 6px
                        border: none
                        font-size: 1.1rem
                        &:hover
                            background-color: $primary-2
                            cursor: pointer
        h2
            text-align: center
            padding-top: 10rem
        .p-advanced
            text-align: center
            color: $black
            padding-top: .8rem
            font-size: 1rem
        .middle-info
            margin: 10rem 1.4rem 0 1.4rem
            padding-bottom: 5rem
            display: grid
            grid-template-columns: 1fr
            grid-template-rows: auto
            gap: 1.5rem
            position: relative
            .line
                display: flex
                width: 100%
                height: 1px
                border: 5px solid $primary-1
                position: absolute
                top: 35%
                z-index: 1
            .article-info
                background-color: $white
                padding: 5rem 1.5rem 2rem 1.5rem
                position: relative
                z-index: 2
                .div-img-info
                    background-color: $primary-2
                    width: 5rem
                    height: 5rem
                    border-radius: 50%
                    position: absolute
                    top: -2.5rem
                    left: 5%
                    .img-info
                        padding: 1rem 1rem
                    .img-one, .img-two
                        padding: 1.2rem 1.15rem
                p
                    text-align: left
                    color: $neutral-DarkB
                    font-size: 1rem
            .article-info-one
                top: -4rem
                left: 0
            .article-info-three
                top: 4rem
                left: 0