$primary-1: rgb(42, 207, 207)
$primary-2: rgb(59, 48, 84)
$secundary: rgb(244, 98, 98)
$neutral-Gray: rgb(191, 191, 191)
$neutral-GrayishV: rgb(158, 154, 167)
$neutral-DarkB: rgb(53, 50, 62)
$neutral-DarkV: rgb(35, 33, 39)
$black: rgb(0, 0, 0)
$white: rgb(255, 255, 255)


*
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: 'Poppins', sans-serif
    font-family: 'Roboto', sans-serif

body
    font-size: 18px

header
    display: flex

    nav
        display: flex

        ul
            display: flex
            gap: 1em
            align-items: center
            list-style: none
            li a
                text-decoration: none
                color: $neutral-GrayishV
                &:hover
                    color: $primary-2
                    font-weight: bold

.middle-content
    background-color: $neutral-Gray

.ft-section
    background-color: $primary-2

footer
    background-color: $neutral-DarkV

.attribution
    background-color: #ffffff
    font-size: 11px
    text-align: center
    a
        color: hsl(228, 45%, 44%)