* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 18px;
}

header {
  margin: 1.5em 3rem 0 7.5rem;
  /* display: flex */
}
header .menuIcon, header .logo-heaer-mobile {
  display: none;
}
header .menu-content {
  display: flex;
  justify-content: space-between;
}
header .menu-content .first-content {
  display: flex;
  gap: 2rem;
}
header .menu-content nav {
  display: flex;
  align-items: flex-start;
}
header .menu-content nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  list-style: none;
}
header .menu-content nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(158, 154, 167);
}
header .menu-content nav ul li a:hover {
  color: rgb(59, 48, 84);
}
header .menu-content nav ul .sign-up {
  background-color: rgb(42, 207, 207);
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: 20px;
}
header .menu-content nav ul .sign-up:hover {
  background-color: rgb(108, 207, 207);
  color: rgb(255, 255, 255);
}

.first-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding-bottom: 8rem;
}
.first-content .first-text {
  margin-top: 9rem;
}
.first-content h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: rgb(59, 48, 84);
  margin: 3.5rem 0 0 7.5rem;
}
.first-content p {
  font-size: 1.3rem;
  text-align: left;
  color: rgb(158, 154, 167);
  margin: 0 0 0 7.5rem;
}
.first-content button {
  margin: 1.5rem 0 0 7.5rem;
  background-color: rgb(42, 207, 207);
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  font-size: 1.1rem;
}
.first-content button:hover {
  background-color: rgb(108, 207, 207);
  cursor: pointer;
}
.first-content .content-img {
  overflow: hidden;
}
.first-content .content-img .img-content {
  padding-left: 1rem;
  padding-top: 4rem;
}

.middle-content {
  background-color: rgb(191, 191, 191);
  position: relative;
  padding-bottom: 7rem;
}
.middle-content .div-middle-form {
  position: absolute;
  top: -4.5rem;
  left: 20%;
  right: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.middle-content .div-middle-form .middle-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-image: url("./../images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(59, 48, 84);
  padding: 2.8rem 3rem 2.8rem 3rem;
  border-radius: 8px;
}
.middle-content .div-middle-form .middle-form .middle-form-text {
  padding: 1rem 2rem 1rem 2rem;
  width: 80%;
  border-radius: 6px;
  border: none;
}
.middle-content .div-middle-form .middle-form .middle-form-button {
  background-color: rgb(42, 207, 207);
  color: rgb(255, 255, 255);
  padding: 0.4rem 1rem;
  margin-left: 1rem;
  border-radius: 6px;
  border: none;
  font-size: 1.1rem;
}
.middle-content .div-middle-form .middle-form .middle-form-button:hover {
  background-color: rgb(108, 207, 207);
  cursor: pointer;
}
.middle-content .div-middle-form .middle-form #error-link {
  color: red;
  display: inline;
  padding-top: 0.5rem;
  font-size: 0.8rem;
  opacity: 0;
}
.middle-content .div-middle-form .newLinkShorten {
  background-color: rgb(255, 255, 255);
  padding: 2rem 3rem 2rem 3rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle-content .div-middle-form .newLinkShorten .linkShort {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.middle-content .div-middle-form .newLinkShorten .linkShort #shorten {
  color: rgb(42, 207, 207);
  font-weight: bold;
}
.middle-content .div-middle-form .newLinkShorten .linkShort button {
  background-color: rgb(42, 207, 207);
  color: rgb(255, 255, 255);
  padding: 0.4rem 1rem;
  border-radius: 6px;
  border: none;
  font-size: 1.1rem;
}
.middle-content .div-middle-form .newLinkShorten .linkShort button:hover {
  background-color: rgb(59, 48, 84);
  cursor: pointer;
}
.middle-content h2 {
  text-align: center;
  padding-top: 10rem;
}
.middle-content .p-advanced {
  text-align: center;
  color: rgb(0, 0, 0);
  padding-top: 0.8rem;
  font-size: 1rem;
}
.middle-content .middle-info {
  margin: 10rem 9rem 0 9rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 1.5rem;
  position: relative;
}
.middle-content .middle-info .line {
  display: flex;
  width: 100%;
  height: 1px;
  border: 5px solid rgb(42, 207, 207);
  position: absolute;
  top: 35%;
  z-index: 1;
}
.middle-content .middle-info .article-info {
  background-color: rgb(255, 255, 255);
  padding: 5rem 1.5rem 2rem 1.5rem;
  position: relative;
  z-index: 2;
}
.middle-content .middle-info .article-info .div-img-info {
  background-color: rgb(59, 48, 84);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  top: -2.5rem;
  left: 5%;
}
.middle-content .middle-info .article-info .div-img-info .img-info {
  padding: 1rem 1rem;
}
.middle-content .middle-info .article-info .div-img-info .img-one, .middle-content .middle-info .article-info .div-img-info .img-two {
  padding: 1.2rem 1.15rem;
}
.middle-content .middle-info .article-info p {
  text-align: left;
  color: rgb(53, 50, 62);
  font-size: 1rem;
}
.middle-content .middle-info .article-info-one {
  top: -4rem;
  left: 0;
}
.middle-content .middle-info .article-info-three {
  top: 4rem;
  left: 0;
}

.foot-section {
  background-color: rgb(59, 48, 84);
  background-image: url("./../images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2rem 0 2rem 0;
  height: 15rem;
}
.foot-section h3 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin-top: 2rem;
}
.foot-section button {
  background-color: rgb(42, 207, 207);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin: 1.5rem 45% 0 45%;
}
.foot-section button:hover {
  background-color: rgb(108, 207, 207);
  cursor: pointer;
}

footer {
  background-color: rgb(35, 33, 39);
  padding: 4rem 0 8rem 7.5rem;
  display: flex;
  justify-content: space-between;
}
footer .div-logo-footer {
  display: flex;
  align-items: flex-start;
}
footer .div-logo-footer .logo-footer {
  padding-right: 3rem;
  filter: invert(100%);
}
footer .content-footer-menu {
  display: flex;
}
footer .content-footer-menu .footer-menu {
  margin: 0 0 0 5rem;
}
footer .content-footer-menu .footer-menu h5 {
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
footer .content-footer-menu .footer-menu ul {
  list-style: none;
}
footer .content-footer-menu .footer-menu ul li {
  padding-bottom: 0.5rem;
}
footer .content-footer-menu .footer-menu ul a {
  text-decoration: none;
  color: rgb(158, 154, 167);
  font-size: 1rem;
}
footer .content-footer-menu .footer-menu ul a:hover {
  color: rgb(42, 207, 207);
}
footer .social-icons {
  margin: 0 10% 0 5%;
  display: flex;
  gap: 1.5rem;
}
footer .social-icons img:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(92%) sepia(60%) saturate(5159%) hue-rotate(123deg) brightness(88%) contrast(83%);
}

.attribution {
  background-color: #ffffff;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media screen and (max-width: 768px) {
  header {
    margin: 1.5em 0 0 0.5rem;
  }
  header .logo-heaer-mobile {
    display: block;
  }
  header .menuIcon {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
  }
  header .menu-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 48, 84);
    padding: 2rem 1rem 2rem 1rem;
    border-radius: 10px;
    position: absolute;
    top: 5.5rem;
    right: 1.5rem;
    left: 1.5rem;
    opacity: 0;
  }
  header .show {
    opacity: 1;
  }
  header .show .first-content {
    display: flex;
    justify-content: center;
    gap: 0rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(191, 191, 191);
  }
  header .show .logo-heaer {
    display: none;
  }
  header .show .second-content {
    padding-top: 1rem;
  }
  header .show nav {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  header .show nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    list-style: none;
  }
  header .show nav ul li a {
    color: rgb(255, 255, 255);
  }
  header .show nav ul li a:hover {
    color: rgb(42, 207, 207);
  }
  header .show nav ul .sign-up {
    padding: 0.5rem 6rem;
    border-radius: 20px;
  }
  .first-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .first-content .first-text {
    margin-top: 0;
  }
  .first-content h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 2.5rem 1rem 0 1rem;
  }
  .first-content p {
    font-size: 1.3rem;
    text-align: center;
    color: rgb(158, 154, 167);
    margin: 0;
  }
  .first-content button {
    margin: 1.5rem 0 0 7.5rem;
    background-color: rgb(42, 207, 207);
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    font-size: 1.1rem;
  }
  .first-content button:hover {
    background-color: rgb(108, 207, 207);
    cursor: pointer;
  }
  .first-content .content-img {
    overflow: hidden;
    grid-row: 1/2;
  }
  .first-content .content-img .img-content {
    width: 100%;
    padding-left: 1rem;
    padding-top: 4rem;
  }
  .middle-content {
    position: relative;
    padding-bottom: 3rem;
  }
  .middle-content .div-middle-form {
    position: absolute;
    top: -4.5rem;
    left: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .middle-content .div-middle-form .middle-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    background-image: url("./../images/bg-shorten-mobile.svg");
    background-position: 80px 0;
    padding: 1.5rem;
  }
  .middle-content .div-middle-form .middle-form .middle-form-text {
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 6px;
    border: none;
  }
  .middle-content .div-middle-form .middle-form .middle-form-button {
    background-color: rgb(42, 207, 207);
    color: rgb(255, 255, 255);
    padding: 0.4rem 6.7rem;
    margin-left: 0;
    border-radius: 6px;
    border: none;
    font-size: 1.1rem;
  }
  .middle-content .div-middle-form .middle-form #error-link {
    color: red;
    display: inline;
    padding-top: 0.5rem;
    font-size: 0.8rem;
    opacity: 0;
  }
  .middle-content .div-middle-form .newLinkShorten {
    padding: 2rem 3rem 2rem 3rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .middle-content .div-middle-form .newLinkShorten #oldLink {
    font-size: 1rem;
  }
  .middle-content .div-middle-form .newLinkShorten .linkShort {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .middle-content .div-middle-form .newLinkShorten .linkShort #shorten {
    color: rgb(42, 207, 207);
    font-weight: bold;
  }
  .middle-content .div-middle-form .newLinkShorten .linkShort button {
    background-color: rgb(42, 207, 207);
    color: rgb(255, 255, 255);
    padding: 0.4rem 1rem;
    border-radius: 6px;
    border: none;
    font-size: 1.1rem;
  }
  .middle-content .div-middle-form .newLinkShorten .linkShort button:hover {
    background-color: rgb(59, 48, 84);
    cursor: pointer;
  }
  .middle-content .p-advanced {
    padding: 0.8rem 0.8rem 0 0.8rem;
    font-size: 1rem;
  }
  .middle-content .middle-info {
    margin: 10rem 1.4rem 0 1.4rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
    position: relative;
  }
  .middle-content .middle-info .line {
    width: 600px;
    position: absolute;
    top: 50%;
    left: -40%;
    z-index: 1;
    transform: rotate(90deg);
  }
  .middle-content .middle-info .article-info {
    padding: 5rem 1.5rem 2rem 1.5rem;
    position: relative;
    z-index: 2;
  }
  .middle-content .middle-info .article-info .div-img-info {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    top: -2.5rem;
    left: 5%;
  }
  .middle-content .middle-info .article-info .div-img-info .img-info {
    padding: 1rem 1rem;
  }
  .middle-content .middle-info .article-info .div-img-info .img-one, .middle-content .middle-info .article-info .div-img-info .img-two {
    padding: 1.2rem 1.15rem;
  }
  .middle-content .middle-info .article-info p, .middle-content .middle-info .article-info h3 {
    text-align: center;
  }
  .foot-section {
    background-image: url("./../images/bg-boost-mobile.svg");
    padding: 2rem 0 2rem 0;
  }
  .foot-section h3 {
    font-size: 1.7rem;
    margin-top: 2rem;
  }
  .foot-section button {
    border-radius: 30px;
    padding: 1rem 2rem;
    margin: 1.5rem 15% 0 35%;
  }
  footer {
    background-color: rgb(35, 33, 39);
    padding: 4rem 0 8rem 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  footer .div-logo-footer {
    display: flex;
    align-items: flex-start;
  }
  footer .div-logo-footer .logo-footer {
    padding-right: 3rem;
    filter: invert(100%);
  }
  footer .content-footer-menu {
    display: flex;
    flex-direction: column;
  }
  footer .content-footer-menu .footer-menu {
    margin: 0 0 0 5rem;
  }
  footer .content-footer-menu .footer-menu h5 {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 1rem;
  }
  footer .content-footer-menu .footer-menu ul {
    list-style: none;
  }
  footer .content-footer-menu .footer-menu ul li {
    padding-bottom: 0.5rem;
  }
  footer .content-footer-menu .footer-menu ul a {
    text-decoration: none;
    color: rgb(158, 154, 167);
    font-size: 1rem;
  }
  footer .content-footer-menu .footer-menu ul a:hover {
    color: rgb(42, 207, 207);
  }
  footer .social-icons {
    margin: 0 10% 0 5%;
    display: flex;
    gap: 1.5rem;
  }
  footer .social-icons img:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(92%) sepia(60%) saturate(5159%) hue-rotate(123deg) brightness(88%) contrast(83%);
  }
}

/*# sourceMappingURL=index.css.map */
