* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 18px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1.5em 3rem 0 7.5rem;
}
header .first-content {
  display: flex;
  gap: 2rem;
}
header nav {
  display: flex;
}
header nav ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(158, 154, 167);
}
header nav ul li a:hover {
  color: rgb(59, 48, 84);
}
header nav ul .sign-up {
  background-color: rgb(42, 207, 207);
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.first-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  padding-bottom: 8rem;
}
.first-content .first-text {
  margin-top: 9rem;
}
.first-content h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: rgb(59, 48, 84);
  margin: 3.5rem 0 0 7.5rem;
}
.first-content p {
  font-size: 1.3rem;
  text-align: left;
  color: rgb(158, 154, 167);
  margin: 0 0 0 7.5rem;
}
.first-content button {
  margin: 1.5rem 0 0 7.5rem;
  background-color: rgb(42, 207, 207);
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  font-size: 1.1rem;
}
.first-content button:hover {
  background-color: rgb(59, 48, 84);
  cursor: pointer;
}
.first-content .content-img {
  overflow: hidden;
}
.first-content .content-img .img-content {
  padding-left: 1rem;
  padding-top: 4rem;
}

.middle-content {
  background-color: rgb(191, 191, 191);
  position: relative;
  padding-bottom: 7rem;
}
.middle-content .middle-form {
  display: flex;
  justify-content: center;
  background-image: url("./../images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(59, 48, 84);
  padding: 2.8rem 3rem 2.8rem 3rem;
  border-radius: 8px;
  position: absolute;
  top: -4.5rem;
  left: 20%;
  right: 20%;
}
.middle-content .middle-form .middle-form-text {
  padding: 1rem 38rem 1rem 2rem;
  border-radius: 6px;
  border: none;
}
.middle-content .middle-form .middle-form-button {
  background-color: rgb(42, 207, 207);
  color: rgb(255, 255, 255);
  padding: 0.4rem 1rem;
  margin-left: 1rem;
  border-radius: 6px;
  border: none;
  font-size: 1.1rem;
}
.middle-content .middle-form .middle-form-button:hover {
  background-color: rgb(59, 48, 84);
  cursor: pointer;
}
.middle-content h2 {
  text-align: center;
  padding-top: 10rem;
}
.middle-content p {
  text-align: center;
  color: rgb(0, 0, 0);
  padding-top: 0.8rem;
  font-size: 1rem;
}
.middle-content .middle-info {
  margin: 10rem 9rem 0 9rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 1.5rem;
  position: relative;
}
.middle-content .middle-info .line {
  display: flex;
  width: 100%;
  height: 1px;
  border: 5px solid rgb(42, 207, 207);
  position: absolute;
  top: 35%;
  z-index: 1;
}
.middle-content .middle-info .article-info {
  background-color: rgb(255, 255, 255);
  padding: 5rem 1.5rem 2rem 1.5rem;
  position: relative;
  z-index: 2;
}
.middle-content .middle-info .article-info .div-img-info {
  background-color: rgb(59, 48, 84);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  top: -2.5rem;
  left: 5%;
}
.middle-content .middle-info .article-info .div-img-info .img-info {
  padding: 1rem 1rem;
}
.middle-content .middle-info .article-info .div-img-info .img-one, .middle-content .middle-info .article-info .div-img-info .img-two {
  padding: 1.2rem 1.15rem;
}
.middle-content .middle-info .article-info p {
  text-align: left;
  color: rgb(53, 50, 62);
  font-size: 1rem;
}
.middle-content .middle-info .article-info-one {
  top: -4rem;
  left: 0;
}
.middle-content .middle-info .article-info-three {
  top: 4rem;
  left: 0;
}

.foot-section {
  background-color: rgb(59, 48, 84);
  background-image: url("./../images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2rem 0 2rem 0;
  height: 15rem;
}
.foot-section h3 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin-top: 2rem;
}
.foot-section button {
  background-color: rgb(42, 207, 207);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin: 1.5rem 45% 0 45%;
}
.foot-section button:hover {
  background-color: rgb(59, 48, 84);
  cursor: pointer;
}

footer {
  background-color: rgb(35, 33, 39);
  padding: 4rem 0 8rem 7.5rem;
  display: flex;
  justify-content: space-between;
}
footer .div-logo-footer {
  display: flex;
  align-items: flex-start;
}
footer .div-logo-footer .logo-footer {
  padding-right: 3rem;
  filter: invert(100%);
}
footer .content-footer-menu {
  display: flex;
}
footer .content-footer-menu .footer-menu {
  margin: 0 0 0 5rem;
}
footer .content-footer-menu .footer-menu h5 {
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
footer .content-footer-menu .footer-menu ul {
  list-style: none;
}
footer .content-footer-menu .footer-menu ul li {
  padding-bottom: 0.5rem;
}
footer .content-footer-menu .footer-menu ul a {
  text-decoration: none;
  color: rgb(158, 154, 167);
  font-size: 1rem;
}
footer .content-footer-menu .footer-menu ul a:hover {
  color: rgb(42, 207, 207);
}
footer .social-icons {
  margin: 0 10% 0 5%;
  display: flex;
  gap: 1.5rem;
}

.attribution {
  background-color: #ffffff;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=index.css.map */
